@model Products
@{
    ViewData["AdminTitle"] = "Admin Detalii Produs";
}
@{
    string denumire = Model.Path + "" + Model.Img;
}
<div style="
        margin: 100px;
        padding: 10px;
        border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
        min-height: 100px;
        padding: 75px;
        border-radius: 20px 20px;
">
    <div class="row mt-5 " style="
        color: black;
        min-height: 100px;
        min-width: 100px;
        font-family: 'Roboto', sans-serif;
    ">
        @{
            <div class="col-lg-6">
                <img class="img-thumbnail" src="@denumire" alt="@Model.model" />
            </div>
        }
        @{
            <div class="col-lg-6">
                <h2 class="text-center">  @Model.model</h2>
                <p class="text-center">Compania producator: @Model.producător</p>
                <p class="text-center">Diagonala ecranului: @Model.diagonala_ecranului</p>
                <p class="text-center">Rezolutia ecranului: @Model.rezolutia_ecranului</p>
                <p class="text-center">Memorie incorporată: @Model.memorie_incorporată</p>
                <p class="text-center">RAM: @Model.RAM</p>
                <p class="text-center">Camera din spate: @Model.camera_din_spate</p>
                <p class="text-center">Camera frontala: @Model.camera_frontala</p>
                <p class="text-center">Capacitatea bateriei: @Model.capacitatea_bateriei</p>
                <p class="text-center">Garanție: @Model.garanție</p>
                <p class="text-center">Culoare: @Model.culoare</p>
                <h1 class="text-center" style="font-size:20px"> Pret: @Model.pret &#128; </h1>
                <p class="text-center">
                    <a class="btn btn-primary" href="~/AdminUser/AdminIndex">Meniu</a>
                    <a class="btn btn-primary" href="~/AdminUser/Delete/@Model.Id">Șterge</a>
                    <a class="btn btn-primary" href="~/AdminUser/Modifica/@Model.Id">Modifică</a>
                </p>
            </div>
        }
    </div>
</div>